@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Header */
.header-Page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;  
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    background-color: white;
    z-index: 1000;
}


/* Logo */
.logo {
    font-family: 'Righteous', Arial, sans-serif;
    color: #2A367C;
    font-size: 2.8em;
    font-weight: 400;
    padding-left: 60px;
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 28px;
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    height: 4px;
}

nav ul li a:hover,
nav ul li a.active {
    color: #3746A0;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    background-color: #3746A0;
}

.header-banner {
    margin-top: 100px; 
    width: 100%;
    height: 350px;
    background-image: url('../Images/anhHeader_4.png');
    background-size: cover;
    background-position: center;
}

.introduce-Page {
    position: relative;
    background: linear-gradient(to right, #EBEDEE, #FDFBFB);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 20px;
    overflow: hidden; 
}

.introduce-Page h1 {
    font-family: 'Roboto', Arial, sans-serif;
    color: #2A367C;
    font-size: 3.8em;
    font-weight: 700;
    margin-bottom: 20px;
    z-index: 2;
}

.introduce-Page h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2.4em;
    color: #666666;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: bold;
}

.hexagon {
    position: absolute;
    background-color: #C8CFF6;
    clip-path: polygon(
        50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%
    );
    box-shadow: 
        0 0 0 8px white,           
        0 0 0 10px #8B9FD9;        
}

/* Hình lục giác nhỏ với 2 lớp viền */
.hexagon-small-double {
    position: absolute;
    width: 90px;
    height: 140px;
    top: 72%; 
    left: 20px;   
    z-index: 2;
}

/* Hình lục giác lớn */
.hexagon-large {
    width: 80px;
    height: 80px;
    bottom: 10px;
    right: 5%;
}

/* Hình lục giác chỉ viền nét đứt */
.hexagon-outline {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 15%;
    right: 80px;
    transform: translateY(-50%);
}

/* Hình ngũ giác 5 góc nghiêng phải */
.pentagon-outline {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 25%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Hình ngũ giác có ruột màu xanh */
.pentagon-filled {
   position: absolute;
    width: 80px;
    height: 80px;
    top: 25%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.featured-article {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 165px;
    margin-top: 32px;
}

.main-featured {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    gap: 40px; 
    padding: 0; 
}

.main-featured-content {
    width: 50%;
    padding: 0 0 0 28px;
}

.main-featured-content h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #3B3B3B;
}

.main-featured-content p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666666 !important;
}

.main-featured-content button {
    width: 15%;
    background-color: #4D63E2;
    color: #FFFFFF;
    border: none;
    font-size: 1.2em;
    padding: 15px 10px;
    border-radius: 44px;
}

.main-featured-image {
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-featured-image img {
    width: 100%;
    aspect-ratio: 16/6;
    object-fit: cover;
}

.calendar {
    display: flex;
    justify-items: flex-start;
    gap: 8px;
}

.calendar img {
    width: 24px;
    height: 24px;
    color: #B0B0B0;
}

.calendar p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 20px;
    color: #B0B0B0 !important;
}

.detail {
    display: flex;
    width: 100%;
    font-size: 0.9em;
}

.main-featured-content .detail p {
    color: #4D63E2 !important;
    font-size: 1.4em;
}

.box-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0;
    justify-content: space-between; 
    align-items: stretch;
}

.box {
    width: 32%; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.box img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    padding: 15px 0 35px 0; 
    background-color: #FAFAFA;
    border-radius: 0 0 16px 16px; 
}

.content-box h4 {
    font-family: 'Roboto', Arial, sans-serif;
    color: #3B3B3B;
    font-size: 2em;
    font-weight: 700;
    margin: 20px 0;
    justify-items: flex-start;    
}

.content-box p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 20px;
    justify-items: flex-start;    
    color: #666666 !important;
}

.calendar-Box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;        
    margin-bottom: 20px;
    justify-items: flex-start;    
}

.calendar-Box img {
    width: 24px;
    height: 24px;
}

.calendar-Box p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #B0B0B0;
    margin: 0; 
}

.detail-Box {
    display: flex;
    width: 100%;
    font-size: 0.9em;
}

.content-box .detail-Box p {
    color: #4D63E2 !important;
    font-size: 1.4em;
}

.content-box .detail-Box a {
    color: #4D63E2 !important;
    font-size: 1.4em;
}

/* Footer */
.footer {         
  display: flex;
  flex-direction: column;
  background-color: #3746A0;
}

.header-Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    margin-top: 50px;
}

.header-Footer h2 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Righteous', Arial, sans-serif;
    color: #FFFFFF;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons button {
    background: #FFFFFF;  
    border: none;             
    cursor: pointer;
    width: 80px;        
    height: 80px;      
    border-radius: 10px;      
    display: flex;            
    align-items: center;
    justify-content: center;
}

.social-icons button img {
    width: 70%;
    height: 70%;
    object-fit: contain; 
}

.offices {
    padding: 10px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.brand-offices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.office h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #FFFFFF;
}

.office-info {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.office-info .square {
    position: absolute;
    left: 0;
    top: 25px;
    width: 24px;
    height: 24px;
    background: #202A5F;
    border-radius: 4px;
}

.content-info {
    padding-left: 50px; 
}

.content-info p {
    margin: 28px 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #FFFFFF;
}

.phone-group {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    gap: 10px;
}

.phone-group p {
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 28px;
    color: #FFFFFF;
}

.phone-group .phone p:nth-of-type(3) {
    margin-bottom: 0;
}

.phone {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.content-info img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}

.line {
    width: 86%;                 
    height: 2px;                 
    background: rgba(255,255,255,0.5); 
    margin: 0 auto 40px auto; 
}

.footer-links {
  display: flex;
  justify-content: left;
  gap: 200px;   
  padding: 20px 160px;
  margin-bottom: 50px;
}

.link-column h4 {
  margin-bottom: 15px;
  font-size: 1.8em;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}

.link-column ul {
  list-style: none;
  padding: 0 10px;
}

.link-column ul li {
  margin: 28px 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.link-column ul li i {
  margin-right: 24px;
  font-size: 1em;
  color: #FFFFFF;
}

.footer-bottom {
  margin-top: auto;          
  background: #fff;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}



